# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Brad Adair
	email = brad@adair.tech
[core]
	excludesfile = /Users/bpadair/.gitignore_global
  editor = nvim
  pager = less
[color]
  ui = true
[pull]
  rebase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/bpadair/.stCommitMsg
[init]
	defaultBranch = main
