{
    email: bradadair@gmail.com

}

(cloudflare) {
    tls {
        dns cloudflare 6krACpy6wPnFx-m3TVKb2Kp_znVIlE6U0Ih5Ih9B
      }
  }
https://{$NC_DOMAIN}:443 {
  import cloudflare
  reverse_proxy nextcloud-aio-apache:11000
}
